# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Generated datasets
ai_engine/data/raw/*.csv
ai_engine/data/processed/*.csv

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# ML model artifacts
*.pkl
*.joblib

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db